@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
}

@layer base {
  body {
    @apply min-h-screen border-b-[1.6rem] border-[#edc84b] bg-[#f7f2e9] p-[3.2rem] pb-[6rem] font-mono font-normal
    text-[#252525];
  }
}

@layer components {
  .container {
    @apply mx-auto flex max-w-[80rem] flex-col items-center gap-[4.8rem];
  }
}

/* *************** */

@layer components {
  .header {
    @apply self-stretch;
  }

  .header h1 {
    @apply relative block w-full text-center text-[5.2rem] font-light uppercase tracking-[3px] text-[#edc84b];
  }

  .header h1::before,
  .header h1::after {
    @apply absolute top-[50%] block h-[3px] w-[4rem] -translate-y-[1px] bg-[#edc84b] content-none;
  }

  .header h1::before {
    left: 0;
  }

  .header h1::after {
    right: 0;
  }
}

/* *************** */

@layer components {
  .menu {
    @apply flex flex-col items-center gap-16;
  }

  .menu h2 {
    @apply inline-block border-b-2 border-t-2 border-[#252525] py-4 text-[2.4rem] font-medium uppercase tracking-[3px];
  }

  .menu > p {
    @apply w-[80%] text-center text-2xl leading-6;
  }

  .pizzas {
    @apply grid list-none grid-cols-2 gap-[4.8rem];
  }

  .pizza {
    @apply flex gap-[3.2rem];
  }

  .pizza img {
    @apply h-48 w-48 self-start object-cover object-center;
  }

  .pizza div {
    @apply flex flex-col gap-3 py-2;
  }

  .pizza h3 {
    @apply text-[2rem] font-normal;
  }

  .pizza p {
    @apply mb-auto text-[1.4rem] font-light italic;
  }

  .pizza span {
    display: block;
    font-size: 1.6rem;
  }

  .pizza.sold-out {
    color: #888;
  }

  .pizza.sold-out img {
    filter: grayscale();
    opacity: 0.8;
  }
}

/* *************** */

.footer {
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
