@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
}

@layer base {
  body {
    @apply min-h-screen border-b-[1.6rem] border-[#edc84b] bg-[#f7f2e9] p-[3.2rem] pb-[6rem] font-mono
    font-normal text-[#252525];
  }
}

/* *************** */

@layer components {
  .pizza.sold-out {
    color: #888;
  }

  .pizza.sold-out img {
    filter: grayscale();
    opacity: 0.8;
  }

  .btn {
    @apply cursor-pointer rounded-lg border-none bg-[#edc84b] px-[3.2rem] py-6 text-[1.4rem] font-medium text-inherit transition duration-[0.2s] hover:bg-[#e9bb24];
  }
}

/* *************** */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
